.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  

.flex-row {
display: flex;
}

.flex-cell {
flex: 1;

/* border: 1px solid black; */
box-sizing: border-box;
text-align: center;
font-weight: 500;
align-self: center;
    font-size: 0.7rem;
    padding:1rem 0.5rem;
}

.priceTable h4{
    text-align: center;
    margin: 20px 0;
}

.flex-container .bg{
    background-color: rgba(255, 196, 239,0.3);
}

.flex-container h5{
    margin-top: 10px;
    font-weight: 300;
}




.priceBox{
    display: flex;
    flex-wrap: nowrap;
}
.priceBox img{
    width: 70%;
    margin: auto;
}

.cautionImg img{
    width: 60%;
    margin: 0 auto;
    display: block;
}


#introductionImage{
    top:15%;
    left:15%;
    max-width: 75%;
}

.BA_Box{
    width: 80%;
    margin: auto;

}

.BA_Image{
    width: 49%;
}
.BA_caption{
    text-align: center;
    margin: 1rem 0;
}

@media only screen and (max-width: 992px) {
    .flex-cell{
        font-size: 1rem;
        padding: 1rem;
    }
    .priceBox{
        flex-wrap: wrap;
    }
    .cautionImg img{
        width: 94%;
    }
    .priceBox img{
        width: 100%;
    }
}


